{% extends "layouts/default" %}

{% set spacing = styles("layouts/spacing.css.json") %}
{% set styles = styles("pages/signin.css.json") %}
{% set shortHero = true %}
{% set heroLabel = "Join our Slack Community" %}

{% use "cap/hero" %}

{% block main %}
    {% if craft.request.getParam('status') == 1 %}
        <p>Thank you. You will get an email shortly with further instructions to sign in to Slack.</p>
    {% endif %}

    <form method="post" action="actions/slack/signup" class="{{ spacing.default }}">
        {{ getCsrfInput() }}

        <div>
            <h3><label for="firstName">First Name</label></h3>
            <input class="{{ styles.input }}" id="firstName" type="text" name="firstName" value="{{ currentUser ? currentUser.firstName }}">
        </div>

        <div>
            <h3><label for="lastName">Last Name</label></h3>
            <input class="{{ styles.input }}" id="lastName" type="text" name="lastName" value="{{ currentUser ? currentUser.lastName }}">
        </div>

        <div>
            <h3><label for="emailAddress">Email Address</label></h3>
            <input class="{{ styles.input }}" id="emailAddress" type="text" name="emailAddress" value="{{ currentUser ? currentUser.email }}">
        </div>

        <div>
            <input class="{{ styles.button }}" type="submit" value="Join!">
        </div>
    </form>
{% endblock %}

{% block sidebar %}
If you&rsquo;re already a member you can access Slack at <a href="https://equitas-youth-jeunes.slack.com"><strong>equitas-youth-jeunes.slack.com</strong></a>.
{% endblock %}

