{% set styles = styles("components/linkList.css.json") %}

<div data-ajax-container>
    <input type="hidden" name="page" value="{{ pageInfo.currentPage }}">
    <table class="{{ styles.table }}">
        {% for cap in caps %}
            <tr>
                <td><strong><a href="{{ cap.url }}">{{ localeField(cap, 'title') }}</a></strong></td>
                <td>
                    <p class="{{ styles.tags }}">
                        {% for tag in cap.topics %}
                            <a class="{{ styles.tag }}" href="/search?type=downloads&topic={{ tag.slug }}">{{ localeField(tag, 'title') }}</a>
                        {% endfor %}
                        {% for tag in cap.tactics %}
                            <a class="{{ styles.tag }}" href="/search?type=downloads&tactic={{ tag.slug }}">{{ localeField(tag, 'title') }}</a>
                        {% endfor %}
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if pageInfo.last != pageInfo.total %}
        {% include "components/pagination" with {"pageInfo": pageInfo, "ajax": true} only %}
    {% endif %}
</div>