{% set styles = styles("components/downloadTeaser.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}

<div class="{{ spacing.tiny }}">
    <a href="{{ entry.download.count ? entry.download.first.url }}">
        {% if entry.image.count %}
            <p><img src="{{ entry.image.first.url({"mode": "crop", "width": 145, "height": 202}) }}"></p>
        {% endif %}
        <p><strong>{{ entry.title }}</strong></p>
    </a>
    <p class="{{ styles.tags }}">
        {% for topic in entry.topics %}
            <a class="{{ styles.tag }}" href="{{ topic.url }}">{{ topic.title }}</a>
        {% endfor %}
    </p>
    {{ entry.introduction }}
</div>