{% set styles = styles("components/downloadTeaser.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}

<div class="{{ spacing.tiny }}">
    <a href="{{ entry.url }}">
        {% if entry.image.count %}
            <p><img src="{{ entry.image.first.url({"mode": "crop", "width": 145, "height": 202}) }}" alt="{{ entry.image.first.alternativeText|default('') }}"></p>
        {% else %}
            <p><img src="/images/no-image-portrait.jpg" alt=""></p>
        {% endif %}
        <p><strong>{{ localeField(entry, 'title') }}</strong></p>
    </a>
    <p class="{{ styles.tags }}">
        {% for tag in entry.topics %}
            <a class="{{ styles.tag }}" href="/search?type=downloads&topic={{ tag.slug }}">{{ localeField(tag, 'title') }}</a>
        {% endfor %}
        {% for tag in entry.tactics %}
            <a class="{{ styles.tag }}" href="/search?type=downloads&tactic={{ tag.slug }}">{{ localeField(tag, 'title') }}</a>
        {% endfor %}
    </p>
    {{ localeField(entry, 'excerpt') }}
</div>