{% set styles = styles("components/footer.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}

<footer class="{{ styles.gradient }}">
    <div class="{{ styles.container }}">
        <div>
            <p class="{{ styles.speakingRights }}"><img src="/images/speaking-rights.jpg"></p>
            <p class="{{ styles.equitas }}"><img src="/images/equitas.png"></p>
        </div>
        <div class="{{ styles.longform }}">
            <address>
                {% if locale() == 'en' %}
                    <strong>Main office</strong><br>
                    666 Sherbrooke Street West, <br>
                    Suite 1100, Montréal, Québec, <br>
                    H3A 1E7
                {% else %}
                    <strong>Bureau principal</strong><br>
                    666 rue Sherbrooke ouest, Suite 1100<br>
                    Montréal, QC, Canada<br>
                    H3A 1E7
                {% endif %}
            </address>
            <address>
                {% if locale() == 'en' %}
                    <strong>Regional British Columbia Office</strong><br>
                    #726 – 736 Granville Street<br>
                    Vancouver, BC<br>
                    V6Z 1E4
                {% else %}
                    <strong>Bureau régional de Colombie-Britannique</strong><br>
                    #726 – 736 rue Granville<br>
                    Vancouver, CB<br>
                    V6Z 1E4
                {% endif %}
            </address>
        </div>
        <div>
            <ul class="{{ styles.links }}">
                <li><a href="/contact">Contact</a></li>
                <li><a href="https://equitas.org/">Equitas.org </a></li>
                <li><a href="/site-map">Site map</a></li>
                <li><a href="/privacy">Privacy statement</a></li>
            </ul>
        </div>
    </div>
    <p class="{{ styles.copyright }}">Copyright © Equitas - International Centre for Human Rights Education / Centre international d’éducation aux droits humains</p>
    <p class="{{ styles.canada }}"><img src="/images/mot_reconnaissance_bil_2_bil_text_wordmark_2-bilingual.jpg"></p>
</footer>