{% set styles = styles("components/header.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}
{% set langcode = locale() %}

<header class="{{ styles.header }}" data-header>
    <div class="{{ styles.container }}">
        <p class="{{ styles.menuToggle }}" data-menu-toggle><a href="#" title="Toggle menu"><i data-icon class="fa fa-bars" aria-hidden="true"></i></a></p>
        {#
        <div class="{{ styles.desktopLogo }}"><a href="https://equitas.org/"><img src="/images/equitas.png"></a></div>
        <div class="{{ styles.mobileLogo }}"><a href="/">{% include "blocks/logo" %}</a></div>
        #}
        <div class="{{ styles.navigationContainer }} {{ spacing.small }}">
            <div>
                <nav class="{{ styles.utilityNavigation }}">
                    <ul>
                        <li><a href="/about">{{ "About Us"|t }}</a></li>
                        <li><a href="/contact">{{ "Contact Us"|t }}</a></li>
                        {% if currentUser == null %}
                            <li><a href="/signin">{{ "Sign In"|t }}</a></li>
                        {% else %}
                            <li><a href="{{ logoutUrl }}">{{ "Sign Out"|t }}</a></li>
                        {% endif %}
                        <li class="{{ styles.atSmall }}"><a href="/api/toggleLangcode?back={{ craft.request.path }}">{{ (langcode == 'en' ? 'fr' : 'en')|upper }}</a></li>
                        {% if currentUser %}
                            <li class="{{ styles.atSmall }}"><a href="/admin">{{ "Manage Content"|t }}</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <nav class="{{ styles.utilityNavigation }} {{ styles.socialNavigation }}">
                    <form data-search-form action="/search" method="get" class="{{ styles.searchBox }}">
                        <input type="text" placeholder="{{ "Search"|t }}" name="q">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                    <ul>
                        {% include "components/socialUsernameItems" with {"socialUsernames": utilities.socialUsernames} only %}
                        {% if currentUser %}
                            <li class="{{ styles.searchIcon }}"><a href="/slack" aria-label="Slack"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                        {% endif %}
                        <li class="{{ styles.searchIcon }}" data-search-link><a href="#" aria-label="search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li class="{{ styles.atLarge }}"><a href="/api/toggleLangcode?back={{ craft.request.path }}">{{ (langcode == 'en' ? 'fr' : 'en')|upper }}</a></li>
                        {% if currentUser %}
                            <li class="{{ styles.atLarge }}"><a href="/admin">{{ "Manage Content"|t }}</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <nav class="{{ styles.navigation }}">
                <ul>
                    <li><a href="/">{{ "Home"|t }}</a></li>
                    <li><a href="/news">{{ "News"|t }}</a></li>
                    <li><a href="/events">{{ "Events"|t }}</a></li>
                    <li><a href="/motivate">{{ "Motivate"|t }}</a></li>
                    <li><a href="/investigate">{{ "Investigate"|t }}</a></li>
                    <li><a href="/take-action">{{ "Take Action"|t }}</a></li>
                    <li><a href="/community-action-projects">{{ "Projects"|t }}</a></li>
                    <li><a href="/resources">{{ "Resources"|t }}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>