{% set styles = styles("components/header.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}
{% set langcode = getCookie('langcode')|default('en') %}

<header class="{{ styles.header }}" data-header>
    <div class="{{ styles.container }}">
        <p class="{{ styles.menuToggle }}" data-menu-toggle><a href="#" title="Toggle menu"><i data-icon class="fa fa-bars" aria-hidden="true"></i></a></p>
        <div class="{{ styles.desktopLogo }}"><a href="/"><img src="/images/logo-50-ans.png"></a></div>
        <div class="{{ styles.mobileLogo }}"><a href="/">{% include "blocks/logo" %}</a></div>
        <div class="{{ styles.navigationContainer }} {{ spacing.small }}">
            <div>
                <nav class="{{ styles.utilityNavigation }}">
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        {% if currentUser == null %}
                            <li><a href="/signin">Sign In</a></li>
                        {% else %}
                            <li><a href="{{ logoutUrl }}">Sign Out</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <nav class="{{ styles.utilityNavigation }} {{ styles.socialNavigation }}">
                    <form data-search-form action="/search" method="get" class="{{ styles.searchBox }}">
                        <input type="text" placeholder="SEARCH" name="q">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                    <ul>
                        {% include "components/socialUsernameItems" with {"socialUsernames": utilities.socialUsernames} only %}
                        <li class="{{ styles.searchIcon }}" data-search-link><a href="#" aria-label="search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a href="/api/toggleLangcode?back={{ craft.request.path }}">{{ langcode|upper }}</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="{{ styles.navigation }}">
                <ul>
                    <li><a href="/news">News</a></li>
                    <li><a href="/motivate">Motivate</a></li>
                    <li><a href="/investigate">Investigate</a></li>
                    <li><a href="/take-action">Take Action</a></li>
                    <li><a href="/community-action-projects">CAPs</a></li>
                    <li><a href="/resources">Resources</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>