{% set styles = styles("components/linkList.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}

<div data-ajax-container>
    <input type="hidden" name="page" value="{{ pageInfo.currentPage }}">
    <ul class="{{ styles.list }}">
        {% for link in links %}
            <li class="{{ styles.item }} {{ spacing.tiny }}">
                <p><strong><a href="{{ link.linkUrl }}" target="_blank">{{ link.title }}</a></strong></p>
                {{ localeField(link, 'description') }}
                <p class="{{ styles.tags }}">
                    {% for tag in link.topics %}
                        <a class="{{ styles.tag }}" href="/search?type=downloads&topic={{ tag.slug }}">{{ tag.title }}</a>
                    {% endfor %}
                    {% for tag in link.tactics %}
                        <a class="{{ styles.tag }}" href="/search?type=downloads&tactic={{ tag.slug }}">{{ tag.title }}</a>
                    {% endfor %}
                </p>
            </li>
        {% endfor %}
    </ul>
</div>