{% set styles = styles("components/linkList.css.json") %}

<div data-ajax-container>
    <input type="hidden" name="page" value="{{ pageInfo.currentPage }}">
    <table class="{{ styles.table }}">
        {% for org in orgs %}
            <tr>
                <td><strong><a href="{{ org.linkUrl|default('') }}">{{ org.title }}</a></strong></td>
                <td>{{ org.province|join(',') }}</td>
                <td>
                    {{ org.tactics|join(',') }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include "components/pagination" with {"pageInfo": pageInfo, "ajax": true} only %}
</div>