{% set styles = styles("components/signup.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}

<div class="{{ styles.container }} {{ spacing.heading }}">
    <h3 class="{{ styles.heading }}">{{ "New User"|t }}?</h3>
    <div class="{{ styles.content }}">
        <p>{{ "[reg]Register for an account[/reg] to leave comments, and share your CAP."|t|replace({'[reg]':'<a href="/signup"><strong>', '[/reg]':'</strong></a>'})|raw }}</p>
    </div>
</div>