{% set styles = styles("components/sort.css.json") %}
{% set name = "sort" ~ random() %}

{% set sort = sort|default(links[0].name) %}
{% set direction = direction|default('desc') %}

<p class="{{ styles.container }}">
    <span class="{{ styles.sorts }}">
        {{ "Sort by"|t }}
        <input type="hidden" name="direction" value="{{ direction }}" />
        <span>
            {% for link in links|default([]) %}
                <input data-sort {{ sort == link.name ? "checked" }} class="{{ styles.input }}" type="radio" name="sort" value="{{ link.name }}" id="{{ name ~ link.name }}" />
                <label data-sort for="{{ name ~ link.name }}" class="{{ styles.label }}">{{ link.label }}</label>
            {% endfor %}
        </span>
    </span>
</p>

<p class="{{ styles.container }}">
    {% if filters|default([])|length %}
    <span>
        {{ "Filter by"|t }}
        {% for filter in filters|default([]) %}
            {% set foo = [] %}
            {% for key in filter.keys %}
                {% for entry in filter.objects %}
                    {% for tag in entry[key] %}
                        {% set foo = foo|merge([{"bundle": key, "id": tag.id, "label": tag.title}]) %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            {% set foo = uniqueBy(foo, 'id', 'label') %}
            <span class="{{ styles.select }}">
                <select name="{{ filter.name }}" data-sort>
                    <option value="">All {{ filter.label }}</option>
                    {% for bar in foo %}
                        <option value="{{ bar.bundle }}:{{ bar.id }}">{{ bar.label }}</option>
                    {% endfor %}
                </select>
            </span>
        {% endfor %}
    </span>
    {% endif %}
</p>
