{% set styles = styles('events/teaser.css.json') %}

<div class="{{ styles.container }}">
    <div class="{{ styles.header }}">
        <h3><a href="{{ entry.url }}" data-header>{{ localeField(entry, 'title') }}</a></h3>
    </div>
    <div class="{{ styles.split }}">
        {% include "events/_date_meta" with {"start": entry.startDate, "end": entry.endDate, "entry": entry} %}
        <p style="line-height: 1.4">
            {{ localeField(entry, 'excerpt')|raw }}
        </p>
    </div>
</div>