{% set styles = styles('events/teaser.css.json') %}

<div class="{{ styles.container }}">
    <div class="{{ styles.header }}">
        <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
    </div>
    <div class="{{ styles.split }}">
        {% include "events/_date_meta" with {"start": entry.startDate, "end": entry.endDate, "entry": entry} %}
        <div>
            {{ localeField(entry, 'excerpt')|raw }}
        </div>
    </div>
</div>