{% extends "layouts/default" %}

{% set styles = styles("news/news.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}

{% block main %}
    <div class="{{ spacing.small }}">
        <div class="{{ spacing.tiny }}">
            {% if entry.image|length %}
                <p><img class="{{ styles.image }}" src="{{ entry.image.first.url({"mode": "crop", "width": 700, "height": 361}) }}" alt="{{ entry.image.first.description }}"></p>
            {% endif %}
            {% include "cap/_crumbs" with {
                "cap": entry.communityActionProject.first,
            } %}
        </div>
        <h1 class="{{ styles.heading }}">{{ localeField(entry, 'title') }}</h1>
        <p class="{{ styles.date }}">{{ entry.dateCreated.format("F j, Y") }}</p>
        {% include "blocks/blocks" with {"blocks": localeField(entry, 'bodyText')} only %}
    </div>
    <div>
        <div id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://speaking-rights.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
{% endblock %}

{% block sidebar %}
    {% include "blocks/logo" %}
    {% include "blocks/topics" with {"blockTitle": "Search By"|t, "type": "news"} only %}
    {% include "components/mailingListSignup" %}
{% endblock %}