{% extends "layouts/default" %}

{% set styles = styles("news/news.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}

{% block main %}
    <div class="{{ spacing.small }}">
        <div class="{{ spacing.tiny }}">
            {% if entry.image|length %}
                <p><img class="{{ styles.image }}" src="{{ entry.image.first.url({"mode": "crop", "width": 700, "height": 361}) }}" alt="{{ entry.image.first.description }}"></p>
            {% endif %}
            {% include "cap/_crumbs" with {
                "cap": entry.communityActionProject.first,
                "tails": [{"uri": "news", "label": "News"}],
            } %}
        </div>
        <h1 class="{{ styles.heading }}">{{ entry.title }}</h1>
        <p class="{{ styles.date }}">{{ entry.dateCreated.format("F j, Y") }}</p>
        {% include "blocks/blocks" with {"blocks":entry.body} only %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include "blocks/logo" %}
    {% include "blocks/topics" with {"blockTitle": "Search by", "type": "news"} only %}
    {% include "blocks/signup" %}
{% endblock %}