{% set styles = styles("news/feature.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}

<div class="{{ spacing.small }}">
    <a href="{{ entry.url }}" class="{{ spacing.small }}">
        <div class="{{ styles.image }}">
            {% include "news/_image" with {"image": entry.image, "transform": {"mode": "crop", "width": 1240, "height": 442}} only %}
            {% include "components/tags" with {"tags": entry.tags} only %}
        </div>
        <h2 class="{{ styles.heading }}">{{ entry.title }}</h2>
    </a>
    <div class="{{ styles.summary }}">
        {{ localeField(entry, 'excerpt') }}
    </div>
</div>