{% block hero %}
{% set styles = styles("cap/hero.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}
{% set langcode = locale() %}

<div class="{{ styles.hero }} {{ shortHero is defined and shortHero == true ? styles.short : '' }}" {% if (shortHero is not defined and entry.image and entry.image.count) or (shortHero is defined and shortHero == false) %}style="background-image:url({{ entry.image.first.url }});"{% endif %}>
    <div class="{{ styles.heroContent }}">
        <div class="{{ spacing.default }}">
            <h1 class="{{ styles.heading }}">
                {% if heroLabel is defined and heroLabel != false %}
                    {{ heroLabel }}
                {% elseif entry.title is defined and entry.title != false %}
                    {{ localeField(entry, 'title') }}
                {% endif %}
            </h1>
            {% if heroButton|default(false) %}
                <p>{% include "components/button" with {"href": heroButton.url, "label": heroButton.title} only %}</p>
            {% endif %}
        </div>
        <div class="{{ spacing.default }}">
            <a href="/"><img class="{{ styles.logo }}" src="/images/logos/EQI0100-Animated-Logo-{{ random(['A', 'B', 'C']) }}-{{ langcode|upper }}-Yellow.gif"></a>
            {% if entry is defined and entry.children.count %}
                {% for child in entry.children %}
                    <p>{% include "components/button" with {"href": child.url, "label": child.title} only %}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}