{% set styles = styles('blocks/capListing.css.json') %}
{% set spacing = styles('layouts/spacing.css.json') %}
{% set query = craft.entries.section('communityActionProject').level(1).limit(100).order('title asc') %}
{% paginate query as capsPageInfo, caps %}

<div class="{{ styles.container }} {{ spacing.heading }}">
    <h2 class="{{ styles.heading }}">{{ "All Community Action Projects"|t }}</h2>
    <form action="/api/caps" method="get" class="{{ spacing.small }}">
        {% include "components/sort" with {
            "links": [
                {"name": "title", "label": "Name"|t},
            ],
            "filters": [
                {"name": "topics", "label": "Topic"|t, "objects": caps, "keys": ["topics"]},
                {"name": "tactics", "label": "Tactic"|t, "objects": caps, "keys": ["tactics"]},
                {"name": "provinces", "label": "Province"|t, "objects": caps, "keys": ["province"]},
            ],
            "sort": "title", "direction": "asc"} %}
        {% include "components/capList" with {"caps": caps, "pageInfo": capsPageInfo} only %}
    </form>
</div>