{% set styles = styles("blocks/news.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}

<div class="{{ styles.container }} {{ spacing.small }}">
    <h2 class="{{ styles.heading }}">{{ block.heading }}</h2>

    <ul class="{{ styles.list }} {{ spacing.default }}">
        {% for item in craft.entries.section('news').limit(3) %}
            <li>
                {% include "news/teaser" with {"entry": item} only %}
            </li>
        {% endfor %}
    </ul>

    <p class="{{ styles.cta }}">
        {% include "components/button" with {"href": "/news", "label": "Read more news"} %}
    </p>
</div>