{% set styles = styles("blocks/stepCta.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}
{% set numerics = ['', 'one', 'two', 'three'] %}

<div class="{{ styles.container }} {{ spacing.providesOwnSpacing }}">
    <div class="{{ styles.content }} {{ styles[numerics[block.number.value]] }} {{ styles[block.position] }}">
        {% if block.number.value == 1 %}
            <div class="{{ styles.number }}">
                <img class="{{ styles.numeral }}" src="/images/one.svg">
                <h3 class="{{ styles.heading }}">Motivate</h3>
                <a class="{{ styles.cta }}" href="{{ block.linkUrl }}">Start your project</a>
            </div>
        {% endif %}
        {% if block.number.value == 2 %}
            <div class="{{ styles.number }}">
                <img class="{{ styles.numeral }}" src="/images/two.svg">
                <h3 class="{{ styles.heading }}">
                    <span class="{{ styles.cta }}" href="{{ block.linkUrl }}">Step 2</span>
                    Investigate
                </h3>
            </div>
        {% endif %}
        {% if block.number.value == 3 %}
            <div class="{{ styles.number }}">
                <img class="{{ styles.numeral }}" src="/images/three.svg">
                <h3 class="{{ styles.heading }}">Take Action</h3>
            </div>
        {% endif %}
        <div class="{{ styles.text }}">
            {{ block.blockContent }}
        </div>
        <p>
            <a class="{{ styles.next }}" href="{{ block.linkUrl }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </p>
    </div>
</div>