{% set styles = styles("blocks/stepCta.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}
{% set numerics = ['', 'one', 'two', 'three', 'four'] %}

<div class="{{ styles.container }} {{ spacing.providesOwnSpacing }} {{ styles[numerics[block.number.value]] }}">
    <div class="{{ styles.content }} {{ styles[block.position] }}">
        {% if block.number.value == 1 %}
            <div class="{{ styles.number }}">
                <img class="{{ styles.numeral }}" src="/images/motivate.svg">
                <h3 class="{{ styles.heading }}">
                    {{ "Motivate"|t }}
                </h3>
                <a class="{{ styles.cta }}" href="{{ block.linkUrl }}">{{ "Start your project"|t }}</a>
            </div>
        {% endif %}
        {% if block.number.value == 2 %}
            <div class="{{ styles.number }}">
                <img class="{{ styles.numeral }}" src="/images/investigate.svg">
                <h3 class="{{ styles.heading }}">
                    {{ "Investigate"|t }}
                </h3>
            </div>
        {% endif %}
        {% if block.number.value == 3 %}
            <div class="{{ styles.number }}">
                <img class="{{ styles.numeral }}" src="/images/take-action.svg">
                <h3 class="{{ styles.heading }}">
                    {{ "Take Action"|t }}
                </h3>
            </div>
        {% endif %}
        {% if block.number.value == 4 %}
            <div class="{{ styles.number }}">
                <h3 class="{{ styles.heading }}">
                    {{ "CAPs"|t }}
                </h3>
            </div>
        {% endif %}
        <div class="{{ styles.text }}">
            {{ block.blockContent }}
        </div>
        <p>
            <a class="{{ styles.next }}" href="{{ block.linkUrl }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </p>
    </div>
</div>