{% set styles = styles('blocks/userBio.css.json') %}
{% set spacing = styles('layouts/spacing.css.json') %}

<div class="{{ styles.container }}">
    {% if block.user|length %}
    <div class="{{ styles.image }}">
        <img src="{{ block.user.first.photoUrl }}">
    </div>
	{% endif %}
    <div class="{{ styles.text }} {{ spacing.small }}">
        <h5 class="{{ styles.heading }}">{{ block.user.first.name }}</h5>
        {{ localeField(block.user.first, 'bio') }}
    </div>
</div>