{% extends "layouts/default" %}

{% set styles = styles("cap/landing.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}
{% set langcode = getCookie('langcode')|default('en') %}

{% set placement = 'body' %}
{% set blocks = [] %}
{% set postscript = [] %}
{% for block in localeField(entry, 'body') %}
    {% if placement == 'body' %}
        {% set blocks = blocks|merge([block]) %}
    {% elseif placement == 'postscript' %}
        {% set postscript = postscript|merge([block]) %}
    {% endif %}

    {% if block.type == 'columnBreak' %}
        {% set placement = 'postscript' %}
    {% endif %}
{% endfor %}

{% block main %}
    <div class="{{ styles.header }} {{ spacing.heading }}">
        <div class="heading">
            {% if entry.stepNumber.value is defined %}
                {% if entry.stepNumber.value == 1 %}
                    <img class="{{ styles.stepNumber }} {{ styles.one }}" src="/images/motivate.svg">
                {% endif %}
                {% if entry.stepNumber.value == 2 %}
                    <img class="{{ styles.stepNumber }} {{ styles.two }}" src="/images/investigate.svg">
                {% endif %}
                {% if entry.stepNumber.value == 3 %}
                    <img class="{{ styles.stepNumber }} {{ styles.three }}" src="/images/take-action.svg">
                {% endif %}
            {% endif %}
            <h1 class="{{ styles.heading }}">{{ localeField(entry, 'title') }}</h1>
        </div>
        <div class="{{ styles.introduction }}">
            {{ localeField(entry, 'introduction') }}
        </div>
    </div>
    {% include "blocks/blocks" with {"blocks": blocks} only %}
{% endblock %}

{% block postscript %}
    {% include "blocks/blocks" with {"blocks": postscript} only %}
{% endblock %}

{% block sidebar %}
    <a href="/"><img src="/images/logos/EQI0100-Animated-Logo-{{ random(['A', 'B', 'C']) }}-Black-{{ langcode|upper }}.gif"></a>
    {% include "blocks/topics" with {"blockTitle": "Search By"|t, "type": "communityActionProject", "white": true} only %}
    {% include "components/news" %}
    {% include "components/mailingListSignup" %}
{% endblock %}