{% extends "layouts/default" %}

{% set styles = styles("pages/search.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}
{% set shortHero = true %}
{% set heroLabel = "Search"|t %}

{% set criteriaCap = craft.entries.section(['communityActionProject']) %}
{% set criteriaNews = craft.entries.section(['news']) %}
{% set criteriaEvents = craft.entries.section(['events']) %}
{% set criteriaResources = craft.entries.section(['downloads']) %}

{% set topicSlug = craft.request.getParam('topic') %}
{% if topicSlug %}
    {% set topic = craft.categories.slug(topicSlug).first %}
    {% set heroLabel = ("Topic"|t) ~ " “" ~ localeField(topic, 'title') ~ "”" %}

    {% set criteriaCap = criteriaCap.relatedTo(topic) %}
    {% set criteriaNews = criteriaNews.relatedTo(topic) %}
    {% set criteriaEvents = criteriaEvents.relatedTo(topic) %}
    {% set criteriaResources = criteriaResources.relatedTo(topic) %}
{% endif %}

{% set tacticSlug = craft.request.getParam('tactic') %}
{% if tacticSlug %}
    {% set tactic = craft.categories.slug(tacticSlug).first %}
    {% set heroLabel = ("Tactic"|t) ~ " “" ~ localeField(tactic, 'title') ~ "”" %}

    {% set criteriaCap = criteriaCap.relatedTo(tactic) %}
    {% set criteriaNews = criteriaNews.relatedTo(tactic) %}
    {% set criteriaEvents = criteriaEvents.relatedTo(tactic) %}
    {% set criteriaResources = criteriaResources.relatedTo(tactic) %}
{% endif %}

{% set q = craft.request.getParam('q') %}
{% if q %}
    {% set criteriaCap = criteriaCap.search(q) %}
    {% set criteriaNews = criteriaNews.search(q) %}
    {% set criteriaEvents = criteriaEvents.search(q) %}
    {% set criteriaResources = criteriaResources.search(q) %}
{% endif %}

{% set criteriaCap = criteriaCap.limit(6) %}
{% set criteriaNews = criteriaNews.limit(6) %}
{% set criteriaEvents = criteriaEvents.limit(6) %}
{% set criteriaResources = criteriaResources.limit(6) %}

{% paginate criteriaCap as pageInfoCap, entriesCap %}
{% paginate criteriaNews as pageInfoNews, entriesNews %}
{% paginate criteriaEvents as pageInfoEvents, entriesEvents %}
{% paginate criteriaResources as pageInfoResources, entriesResources %}

{% use "cap/hero" %}

{% block main %}
    {% if entriesCap|length %}
        <h2>{{ "Projects"|t }}</h2>
        <ul class="{{ styles.container }} {{ spacing.default }}">
            {% for entry in entriesCap %}
                <li>
                    {% include [entry.type.handle ~ "/teaser", "components/defaultTeaser"] ignore missing with {"entry": entry} only %}
                </li>
            {% endfor %}
        </ul>
        {% if pageInfoCap.total > 6 %}
            {% include "components/readmore" with {"href": "/search-all?type=communityActionProject&q=" ~ q ~ "&topic=" ~ topicSlug ~ "&tactic=" ~ tacticSlug, "label": "See all"|t} %}
        {% endif %}
    {% endif %}

    {% if entriesNews|length %}
        <h2>{{ "News"|t }}</h2>
        <ul class="{{ styles.container }} {{ spacing.default }}">
            {% for entry in entriesNews %}
                <li>
                    {% include [entry.type.handle ~ "/teaser", "components/defaultTeaser"] ignore missing with {"entry": entry} only %}
                </li>
            {% endfor %}
        </ul>
        {% if pageInfoNews.total > 6 %}
            {% include "components/readmore" with {"href": "/search-all?type=news&q=" ~ q ~ "&topic=" ~ topicSlug ~ "&tactic=" ~ tacticSlug, "label": "See all"|t} %}
        {% endif %}
    {% endif %}

    {% if entriesEvents|length %}
        <h2>{{ "Events"|t }}</h2>
        <ul class="{{ styles.container }} {{ spacing.default }}">
            {% for entry in entriesEvents %}
                <li>
                    {% include [entry.type.handle ~ "/teaser", "components/defaultTeaser"] ignore missing with {"entry": entry} only %}
                </li>
            {% endfor %}
        </ul>
        {% if pageInfoEvents.total > 6 %}
            {% include "components/readmore" with {"href": "/search-all?type=events&q=" ~ q ~ "&topic=" ~ topicSlug ~ "&tactic=" ~ tacticSlug, "label": "See all"|t} %}
        {% endif %}
    {% endif %}

    {% if entriesResources|length %}
        <h2>{{ "Resources"|t }}</h2>
        <ul class="{{ styles.downloadContainer }} {{ spacing.default }}">
            {% for entry in entriesResources %}
                <li>
                    {% include [entry.type.handle ~ "/teaser", "components/defaultTeaser"] ignore missing with {"entry": entry} only %}
                </li>
            {% endfor %}
        </ul>
        {% if pageInfoResources.total > 6 %}
            {% include "components/readmore" with {"href": "/search-all?type=downloads&q=" ~ q ~ "&topic=" ~ topicSlug ~ "&tactic=" ~ tacticSlug, "label": "See all"|t} %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include "blocks/topics" with {"blockTitle": "Search By"|t, "type": craft.request.getParam('type')} only %}
    {% include "components/mailingListSignup" %}
{% endblock %}