{% extends "layouts/default" %}

{% set styles = styles("pages/signin.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}
{% set shortHero = true %}
{% set heroLabel = "Sign Up"|t %}

{% use "cap/hero" %}

{% block main %}
    <form method="post" accept-charset="UTF-8" class="{{ spacing.default }}">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/saveUser">
        <input type="hidden" name="redirect" value="">

        {% macro errorList(errors) %}
            {% if errors %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endmacro %}

        {% from _self import errorList %}

        <div>
            <h3><label for="username">{{ "Username"|t }}</label></h3>
            <input class="{{ styles.input }}" id="username" type="text" name="username" placeholder="username"
                {%- if account is defined %} value="{{ account.username }}"{% endif -%}>
        </div>

        {% if account is defined %}
            {{ errorList(account.getErrors('username')) }}
        {% endif %}

        <div>
            <h3><label for="email">{{ "Email"|t }}</label></h3>
            <input class="{{ styles.input }}" id="email" type="text" name="email" placeholder="user@example.com"
                {%- if account is defined %} value="{{ account.email }}"{% endif %}>

            {% if account is defined %}
                {{ errorList(account.getErrors('email')) }}
            {% endif %}
        </div>



        <div>
            <h3><label for="password">{{ "Password"|t }}</label></h3>
            <input class="{{ styles.input }}" id="password" type="password" name="password">

            {% if account is defined %}
                {{ errorList(account.getErrors('password')) }}
            {% endif %}
        </div>

        {% include "pages/social-accounts" %}

        <div>
            <input class="{{ styles.button }}" type="submit" value="{{ "Register"|t }}">
        </div>
    </form>

    {# <p><a href="{{ url('forgotpassword') }}">Forget your password?</a></p> #}
{% endblock %}

{% block sidebar %}
    {% include "components/mailingListSignup" %}
{% endblock %}