{% set layoutStyles = styles("layouts/default.css.json") %}
{% set layoutSpacing = styles("layouts/spacing.css.json") %}
<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ entry.title is defined ? entry.title ~ ' – Speaking Rights' :'Speaking Rights' }}</title>
</head>
<body>
    <div class="{{ layoutStyles.page }}">
        {% include "components/header" %}
        <div class="{{ disableSpacing is not defined or disableSpacing == false ? layoutSpacing.default }}">
            {% block container %}
                <div class="{{ layoutSpacing.large }}">
                    {% block hero %}{% endblock %}
                    <div class="{{ layoutStyles.container }} {{ layoutSpacing.default }}">
                        {% block content %}
                            <main class="{{ layoutStyles.main }} {{ layoutSpacing.huge }}">
                                {% block main %}{% endblock %}
                            </main>
                            <div class="{{ layoutStyles.sidebar }} {{ layoutSpacing.sidebar }}">
                                {% block sidebar %}{% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                    {% block postscript %}{% endblock %}
                </div>
            {% endblock %}
            {% include "components/footer" %}
        </div>
    </div>
    <script src="/bundle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29111354-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-107380966-1');
    </script>
</body>
</html>