{% extends "layouts/default" %}

{% set styles = styles("resources/entry.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}
{% set shortHero = true %}

{% set downloads = craft.entries.section('downloads').limit(4) %}
{% if not currentUser %}
    {% set downloads = downloads.requireLogin('not 1') %}
{% endif %}

{% paginate craft.entries.section('links').limit(6).order('title asc') as linksPageInfo, links %}
{% paginate craft.entries.section('organizations').limit(6).order('title asc') as orgsPageInfo, orgs %}

{% use "cap/hero" %}

{% block main %}
    {% include "blocks/blocks" with {"blocks": localeField(entry, 'body')} only %}

    {% if downloads.total > 0 %}
        <div class="{{ spacing.heading }}">
            <h2 class="{{ styles.heading }}">{{ "Downloads"|t }}</h2>
            <form action="/api/downloads?perPage=4&pagination=0" method="get" class="{{ spacing.small }}">
                {% include "components/sort" with {
                    "links": [
                        {"name": "title", "label": "Title"|t},
                        {"name": "date", "label": "Date"|t},
                    ],
                    "filters": [
                        {"name": "topics", "label": "Topic"|t, "objects": downloads, "keys": ["topics"]},
                        {"name": "tactics", "label": "Tactic"|t, "objects": downloads, "keys": ["tactics"]},
                    ],
                    "sort": "date",
                    "direction": "desc"
                } %}
                <div data-ajax-container>
                    {% include "components/downloadList" with {"items": downloads } %}
                </div>
                {% if downloads.total > 4 %}
                    {% include "components/readmore" with {"href": "/resources/downloads", "label": "See all"|t} %}
                {% endif %}
            </form>
        </div>
    {% endif %}

    {% if links|length %}
        <div class="{{ spacing.heading }}">
            <h2 class="{{ styles.heading }}">
                {{ "Links"|t }}
            </h2>
            <form action="/api/links" method="get" class="{{ spacing.small }}">
                {% include "components/sort" with {
                    "links": [
                        {"name": "title", "label": "Name"|t},
                    ],
                    "filters": [
                        {"name": "topics", "label": "Topic"|t, "objects": links, "keys": ["topics"]},
                        {"name": "tactics", "label": "Tactic"|t, "objects": links, "keys": ["tactics"]},
                    ],
                    "sort": "title",
                    "direction": "asc"
                }%}
                {% include "components/linkList" with {"links": links, "pageInfo": linksPageInfo} only %}
                {% if linksPageInfo.total > 4 %}
                    {% include "components/readmore" with {"href": "/resources/links", "label": "See all"|t} %}
                {% endif %}
            </form>
        </div>
    {% endif %}

    {#
    {% if orgs|length %}
        <div class="{{ spacing.heading }}">
            <h2 class="{{ styles.heading }}">
                {{ "Organizational Directory"|t }}
            </h2>
            <form action="/api/orgs" method="get" class="{{ spacing.small }}">
                {% include "components/sort" with {"links": [
                    {"name": "title", "label": "Name"},
                    {"name": "province", "label": "Province"},
                    {"name": "tag", "label": "Tag"},
                ], "sort": "title", "direction": "asc"} %}
                {% include "components/orgList" with {"orgs": orgs, "pageInfo": orgsPageInfo} only %}
                {% if orgsPageInfo.total > 4 %}
                    {% include "components/readmore" with {"href": "/resources/orgs", "label": "See all"|t} %}
                {% endif %}
            </form>
        </div>
    {% endif %}
    #}

{% endblock %}

{% block sidebar %}
    {% include "blocks/topics" with {"blockTitle": "Search By"|t, "type": "downloads"} only %}
    {% include "components/mailingListSignup" %}
{% endblock %}